<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelance Portfolio Guada</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
    <header>
        <a href=""></a>
        <a href=""></a>
        <nav>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </header>
    <main>  
        <section>
            <img src="" alt="">
            <h1></h1>
            <div>
                <hr>
                <p></p>
                <hr/>
            </div>
            <p></p>
        </section>    
        
        <section>
            <h2></h2>
            <div>
                <hr/>
                <p></p>
                <hr/>
            </div>
            <div>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </section>
        <section>
            <h2></h2>
            <div>
                <hr>
                <p></p>
                <hr>
            </div>
            <div>
                <p>
                    Freelance is a free landing page theme created for free use. The
                    download includes the complete source files including HTML, CSS, and
                    JavaScript as weel as optional SASS stylesheets for easy
                    customization 
                </p>
                <p>
                    Whether you're a student looking to showcase your work, a
                    professional looking to attact clients, or a graphic artist looking
                    to share your projects, this template is the perferct starting
                    point!
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae quidem aspernatur iusto numquam a tempore consequuntur, veniam nisi excepturi explicabo voluptatibus temporibus provident voluptatem omnis rerum asperiores consequatur ratione dicta?
                </p>
            </div>
        </section>
        <section>
            <h2>contact me</h2>
        </section>
    </main>
    <footer>
        <div>
            <article>
                <h3></h3>
                <p></p>
                <p></p>
            </article>
            <article>
                <h3></h3>
                <div>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </article>
            <article>
                <h3></h3>
                <p></p>
            </article>
        </div>
    </footer>
</body>
</html>

